.detailsContainer{
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    flex-wrap: wrap;
}

.col{
    max-width: 400px;
    margin: 15px;
    height: auto;
}
.pokeImg{
    background-color: black;
    border-radius: 20%;;
}

.firstItem{
    margin-top: 20px;
}